# IP adress or name of PostgreSQL server (default: machine hosting the containers)
#DB_HOST=

# Port of PostgreSQL server (default: 5432)
#DB_PORT=

# PostgreSQL user (SHOULD NOT have database creation permissions)
DB_USER=
DB_PASSWORD=

# PostgreSQL user for database creation (MUST have database creation permissions)
#SUPER_USER=
#SUPER_PASSWORD=

# Name of PostgreSQL database
#DB_NAME=

# URL where to get base OSM data from
BASEOSM_URL=http://download.geofabrik.de/europe/italy-latest.osm.pbf

# Name of base OSM data local file
BASEOSM_NAME=italy-latest.osm.pbf

# Name of area (must non contain blanks)
AREA_NAME=milano

# Boundaries of area (in EPSG:4326 system and "minX,minY,maxX,maxY" order)
AREA_BOUNDS=8.71313813769412,45.1614578908364,9.55012072019126,45.7406920672967

# If set to "BASE" the updating will be done upon base file, otherwise upon each area file
OSMUPDATE_WHAT=AREA

# If set to "PRESERVE" the cutting of area file will contain 
# ways, nodes and relations outside of bounds
#OSMCUT=PRESERVE
